
      <link rel="stylesheet" href="{{bot_url_}}/static/css/bootstrap.min.css">
      <!-- Magnific Popup CSS-->
      <link rel="stylesheet" href="{{bot_url_}}/static/css/magnific-popup.css">
      <!-- Circle CSS-->
      <link rel="stylesheet" href="{{bot_url_}}/static/css/circle.css">
      <!-- Chatbot -->
      <link rel="stylesheet" href="{{bot_url_}}/static/css/chatbot.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="{{bot_url_}}/static/css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{{bot_url_}}/static/css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{{bot_url_}}/static/css/responsive.css">
    
      <div id="body" style="position: absolute;bottom: 5px;left: 5px;;z-index: 1;">
         <div id="chat-circle" class="btn btn-raised">
            <i class="ion-chatbubble-working"></i>
         </div>
         <div class="chat-box">
            <div class="chat-box-header">
               <h5 class="title">ChatBot</h5>
               <span class="chat-box-toggle"><i class="ion-close-round"></i></span>
            </div>
            <div class="chat-box-body">
               <div class="chat-box-overlay">   
               </div>
               <div class="chat-logs">
               </div>
               <!--chat-log -->
            </div>
            <div class="chat-input">
               <form>
                  <input type="text" id="chat-input" placeholder="Send a message..."/>
                  <button type="submit" class="chat-submit" id="chat-submit"><i class="ion-ios-paperplane"></i></button>
               </form>
            </div>
         </div>
      </div>