<!doctype html>
<html lang="en">
   
<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>CaaS - Al/ML - Chatbot Service</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- Magnific Popup CSS-->
      <link rel="stylesheet" href="/static/css/magnific-popup.css">
      <!-- Circle CSS-->
      <link rel="stylesheet" href="/static/css/circle.css">
      <!-- Chatbot -->
      <link rel="stylesheet" href="/static/css/chatbot.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="/static/css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/static/css/responsive.css">
   </head>
   <body>
      
      <!--=================================
         Chatbot -->     
      <div id="body">
         <div id="chat-circle" class="btn btn-raised">
            <i class="ion-chatbubble-working"></i>
         </div>
         <div class="chat-box">
            <div class="chat-box-header">
               <h5 class="title">ChatBot</h5>
               <span class="chat-box-toggle"><i class="ion-close-round"></i></span>
            </div>
            <div class="chat-box-body">
               <div class="chat-box-overlay">   
               </div>
               <div class="chat-logs">
               </div>
               <!--chat-log -->
            </div>
            <div class="chat-input">
               <form>
                  <input type="text" id="chat-input" placeholder="Send a message..."/>
                  <button type="submit" class="chat-submit" id="chat-submit"><i class="ion-ios-paperplane"></i></button>
               </form>
            </div>
         </div>
      </div>
      <!--=================================
         Chatbot -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="/static/js/jquery-3.3.1.min.js"></script>
      <script src="/static/js/popper.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <!-- Owl Carousel -->
      <script src="/static/js/owl.carousel.min.js"></script>
      <!-- Wow -->
      <script src="/static/js/wow.min.js"></script>
      <!-- App Min -->
      <script src="/static/js/app.min.js"></script>
      <!-- Circle -->
      <script src="/static/js/circle.js"></script>
      <!-- Chatbot -->
      <script src="/static/js/chatbot.js"></script>
      <!-- main -->
      <script src="/static/js/main.js"></script>
      <!-- Custom -->
      <script src="/static/js/custom.js"></script>
   </body>

</html>